
body {
  background-color: sienna;
}

.larger-image {
  width: 400px;
}

.img-responsive {}
.img-rounded
margin: 30px;

}
.gold-text {
  color: gold;
}
.gold-text {
  color: gold;
}
}
.gold-text {
  color: gold;
}
h1 {
  font-size: 40px;
  font-color: purple;
  text-center: center;
  font-family: San-serif, Hevetica;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 20px;
}
.thick-silver-border {
  border-color: antiquewhite;
  border-width: 30px;
  padding: 20px;
  border-style: solid;
}
ul{
  background-color: moccasin;


img.resize {
  width: 700px;
  height: 500px;
}